<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeiGo框架</title>
    <link href="/static/ant/antd.min.css">
    <style>
        .center{text-align: center;margin: 100px auto}
    </style>
    <script src="/static/ant/vue.js"></script>
    <script src="/static/ant/moment.js"></script>
    <script src="/static/ant/antd.min.js"></script>
</head>
<body>
<div>
   <div id="app">
       <a-button type="primary">
           Primary
       </a-button>
       <a-button>Default</a-button>
       <a-button type="dashed">
           Dashed
       </a-button>
       <a-button type="danger">
           Danger
       </a-button>
       <a-config-provider :auto-insert-space-in-button="false">
           <a-button type="primary">
               按钮
           </a-button>
       </a-config-provider>
       <a-button type="primary">
           按钮
       </a-button>
       <a-button type="link">
           Link
       </a-button>
   </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!'
        }
    })
</script>
</body>
</html>
